# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# dotenv
.env


# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Flask cache
instance/
.webassets-cache

# Docker
*.log
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml
projection.npy
